/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#AnchorPane{
    -fx-background-image: url("../resources/main/background.jpg");
    -fx-background-color: #FAFAFA;
    -fx-background-repeat: stretch;   
/*    -fx-background-size: 900 506;*/
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
    -fx-background-size: cover;
}

/*#tile_pane{
 -fx-background-color: #FAFAFA;   
}*/

.tab-label {
    -fx-content-display: top;
}
.tab-pane {
    -fx-tab-min-height: 80;
    -fx-tab-max-height: 80;
    -fx-tab-min-width: 90;
    -fx-tab-max-width: 90;

}


/*.tab-pane *.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-color, -20%);
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}*/

.tab-pane .tab-header-area .tab-header-background  {
/*    -fx-background-color: #393D40;*/
    -fx-background-color: #363B40;
    
}

.tab  {
/*    -fx-background-color: #393B40;*/
    -fx-background-color: #363B40;

}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}






